<div
  class="fixed top-0 right-0 bottom-0 z-[10000] flex flex-col items-end p-4 space-y-4 pointer-events-none"
>
  <div
    *ngFor="let toast of toastService.toasts$ | async"
    aria-live="assertive"
    class="pointer-events-auto w-[24rem] max-w-sm"
  >
    <div
      @opacityTranslateY
      class="flex items-start bg-white shadow-lg ring-1 ring-black ring-opacity-5 rounded-lg overflow-hidden"
    >
      <div class="p-4 flex items-start">
        @if(toast.error) {
        <div class="flex-shrink-0">
          <i class="pi pi-times-circle text-red-400 text-[1rem]"></i>
        </div>
        } @else {

        <div class="flex-shrink-0">
          <i class="pi pi-check-circle text-green-400 text-[1rem]"></i>
        </div>
        }
        <div class="ml-3 flex-1">
          <p class="text-sm font-medium text-gray-900">
            {{ toast.heading }}
          </p>
          <p class="mt-1 text-sm text-gray-500">
            {{ toast.message }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
