@if (visible) {
<div class="fixed top-0 left-0 right-0 bottom-0 z-[999]">
  <div
    class="relative z-10"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="fixed inset-0 bg-gray-900 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div
        class="relative flex flex-col min-h-full justify-center p-4 text-center items-center sm:p-0"
      >
        @if (player && diced) {
        <div class="stand-out text-[#FF9800]">
          {{ player.name }} hat gewürfelt
        </div>
        }
        <div
          class="flex items-center justify-center transform size-40 rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:p-6"
        >
          @if(!diced) {
          <div class="text-8xl">{{ animationNumber }}</div>
          }@else {
          <div class="text-8xl">{{ diced }}</div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
}
