<div class="flex flex-col items-center">
  @if(theme.fields[tile!.index - 1].type == 'Site' || theme.fields[tile!.index -
  1].type == 'Utility' || theme.fields[tile!.index - 1].type == 'Station') {
  <div class="h-20 w-64 rounded-t-lg bg-cover" [ngClass]="tile?.style"></div>
  }
  <div class="flex flex-col gap-y-1 w-52 p-4">
    <div class="font-semibold text-gray-900 text-center">
      {{ theme.fields[tile!.index - 1].name }}
    </div>
    <div class="w-full h-[1px] bg-black my-2"></div>
    @switch (theme.fields[tile!.index - 1].type) { @case ('Site') {
    <div class="text-sm text-gray-900">
      Miete:
      <div class="float-right">
        $ {{ theme.fields[tile!.index - 1].rentPrices![0] }}
      </div>
    </div>
    <div class="text-sm text-gray-900">
      Mit 1 Haus:
      <div class="float-right">
        $ {{ theme.fields[tile!.index - 1].rentPrices![1] }}
      </div>
    </div>
    <div class="text-sm text-gray-900">
      Mit 2 Häuser:
      <div class="float-right">
        $ {{ theme.fields[tile!.index - 1].rentPrices![2] }}
      </div>
    </div>
    <div class="text-sm text-gray-900">
      Mit 3 Häuser:
      <div class="float-right">
        $ {{ theme.fields[tile!.index - 1].rentPrices![3] }}
      </div>
    </div>
    <div class="text-sm text-gray-900">
      Mit 4 Häuser:
      <div class="float-right">
        $ {{ theme.fields[tile!.index - 1].rentPrices![4] }}
      </div>
    </div>
    <div class="text-sm text-gray-900">
      Mit Hotel:
      <div class="float-right">
        $ {{ theme.fields[tile!.index - 1].rentPrices![5] }}
      </div>
    </div>
    <div class="text-sm text-gray-900">
      Haus kostet jeweils
      <div class="float-right">
        $ {{ theme.fields[tile!.index - 1].buildingPrice }}
      </div>
    </div>
    <div class="text-sm text-gray-900">
      Hotel
      <div class="float-right">
        $ {{ theme.fields[tile!.index - 1].buildingPrice }}
      </div>
      + 4 Häuser
    </div>
    <div class="w-full h-[1px] bg-black my-2"></div>
    <div class="text-xs text-gray-900 text-center">
      Bei besitz einer gesamten Straße wird die Basis-Miete verdoppelt.
    </div>
    } @case ('Jail') {
    <div class="text-xs text-gray-900 text-center">
      Hier befindet sich das Gefängis, dies kannst du entweder besuchen oder
      darin gefangen sein.
    </div>
    } @case ('GoToJail') {
    <div class="text-xs text-gray-900 text-center">
      Verbrecher vorraus, landest du hier kommst du direkt in das Gefängnis
    </div>
    } @case ('FreeParking') {
    <div class="text-xs text-gray-900 text-center">Hier passiert nichts.</div>
    } @case ('Go') {
    <div class="text-xs text-gray-900 text-center">
      Das Los-Feld, erhalte $ 200 sofern du dieses Feld überquerst.
    </div>
    } @case ('Chance') {
    <div class="text-xs text-gray-900 text-center">Ziehe eine Chace-Karte.</div>
    } @case ('CommunityChest') {
    <div class="text-xs text-gray-900 text-center">
      Ziehe eine Community-Chest-Karte.
    </div>
    } @case ('Tax' ) {
    <div class="text-xs text-gray-900 text-center">
      Oh nein, landest du auf diesem Feld schuldest du der Bank $
      {{ theme.fields[tile!.index - 1].amount }}
    </div>
    } @case ('Station') {
    <div class="text-sm text-gray-900">
      Miete:
      <div class="float-right">
        $ {{ theme.fields[tile!.index - 1].rentPrices![0] }}
      </div>
    </div>
    <div class="text-sm text-gray-900">
      Mit 2 Banhöfen:
      <div class="float-right">
        $ {{ theme.fields[tile!.index - 1].rentPrices![1] }}
      </div>
    </div>
    <div class="text-sm text-gray-900">
      Mit 3 Bahnhöfen:
      <div class="float-right">
        $ {{ theme.fields[tile!.index - 1].rentPrices![2] }}
      </div>
    </div>
    <div class="text-sm text-gray-900">
      Mit 4 Banhöfen:
      <div class="float-right">
        $ {{ theme.fields[tile!.index - 1].rentPrices![3] }}
      </div>
    </div>
    } @case ('Utility') {
    <div class="text-sm text-gray-900">
      Mit einem Werk:
      <div class="float-right">Würfel x 4</div>
    </div>
    <div class="text-sm text-gray-900">
      Mit 2 Werken:
      <div class="float-right">Würfel x 10</div>
    </div>
    } }
  </div>
</div>
