<app-modal-template label="Raum erstellen" #createRoomModal>
  <form
    [formGroup]="roomForm"
    (ngSubmit)="createRoom(); createRoomModal.close()"
  >
    <label for="email" class="block text-sm/6 font-medium text-gray-900"
      >Name</label
    >
    <div class="mt-2">
      <input
        type="text"
        name="email"
        id="email"
        formControlName="roomName"
        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
      />
    </div>
    <div class="flex justify-end">
      <button
        type="submit"
        class="mt-4 hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block"
      >
        Erstellen
      </button>
    </div>
  </form>
</app-modal-template>

<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="flex justify-end">
      <button
        (click)="createRoomModal.open()"
        class="w-fit hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block"
      >
        Raum erstellen
      </button>
    </div>
    <ul
      role="list"
      class="mt-6 divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl px-4"
    >
      @for (room of rooms; track $index) {

      <li class="flex items-center justify-between gap-x-6 py-5">
        <div class="min-w-0">
          <div class="flex items-start gap-x-3">
            <p class="text-sm/6 font-semibold text-gray-900">{{ room.name }}</p>
            @if(room.running) {
            <p
              class="mt-0.5 whitespace-nowrap rounded-md bg-gray-50 px-1.5 py-0.5 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
            >
              Läuft bereits
            </p>
            } @else {
            <p
              class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20"
            >
              Offen
            </p>
            }
          </div>
          <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
            <p class="whitespace-nowrap">{{ room.playerCount }} / 4 Spieler</p>
          </div>
        </div>
        @if (!room.running || room.playerCount < 4) {
        <div class="flex flex-none items-center gap-x-4">
          <button
            (click)="joinRoom(room.name)"
            class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block"
          >
            Beitreten
          </button>
        </div>
        }
      </li>
      }
      <li class="flex items-center justify-between gap-x-6 py-5">
        <div class="min-w-0">
          <div class="flex items-start gap-x-3">
            <p class="text-sm/6 font-semibold text-gray-900">WAD-DAV-XAD</p>
            <p
              class="mt-0.5 whitespace-nowrap rounded-md bg-gray-50 px-1.5 py-0.5 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
            >
              Läuft bereits
            </p>
          </div>
          <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
            <p class="whitespace-nowrap">4 / 4 Spieler</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
